body 
{ background-color: black;color: whitesmoke;text-align: center;font-family: Georgia, 'Times New Roman', Times, serif;}
h1 { color: orange;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font-size: larger;}